name: test

on:
  push:
    tags:
      - '*'
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on:
      - self-hosted
      - linux
      - x64
      - host
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Context Dump
        run: echo "$GITHUB_CONTEXT"

      - name: content check
        run: |
          ls -lRa "${{ github.workspace }}"

      - name: kubectl
        uses: ./
        with:
          config: ${{ secrets.KUBECTL_KUBECONFIG }}
          options: -v
          args: get pods --all-namespaces
